/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #ffffff;    /* achtergrondkleur lichtgrijs */
  color: #303030;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  width: 1500px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: #411010;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: #411010;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    width: fit-content;
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
  border: solid 2px #6d3737;
  border-radius: 25px;
  font-family: Helvetica;
}

nav ul li {
  float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #a25757;
}

nav li a.active {
    background-color: #6d3737;
}

 /* Slideshow */
.slideshow {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: solid 1px black;
    border-radius: 10px;
}
.midden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigeren {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.knopjes {
    width: 20px;
    height: 10px;
    border: solid 2px black;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.knopjes:hover {
    background: #e6e6e6;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}
.slide {
    width: 20%;
    transition: 0.5s;
}
.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0%;
}
#r2:checked ~ .s1 {
    margin-left: -20%;
}
#r3:checked ~ .s1 {
    margin-left: -40%;
}
#r4:checked ~ .s1 {
    margin-left: -60%;
}
#r5:checked ~ .s1 {
    margin-left: -80%;
}
/* Header */
.ibylogo {
  height: 100px;
  width: 100px;
}
#header {
    display: flex;
    width: 700px;
    margin: 0 auto;
}
.ibylogo {
      transition: 1s;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
}
.ibylogo:hover{
    transform:scale(1.2);
}
.ibylogodiv {
      justify-content: center;
    align-items: center;
    display:flex;
}
.kettingcolumn {
  padding-top: 25px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  float: left;
  width: 300px;
}